html, body {
    height: 100vh;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

header,
aside,
main {
    background: #8ba4e1;
}

header {
    background: #edae55;
    grid-column: 2 / 4;
}

/* ASIDE */

aside {
    display: grid;
    padding: 15px;
    background: #21b2f0;
    grid-row: 1 / -1;
}

ul {
    padding: 0;
}

.item {
    display: flex;
    gap: 10px;;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold; 
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --- */

main {
    display: grid;
    grid-template-columns: 2fr 1fr;

    background: #95e473;
    grid-area: 2 / 2 / -1 / -1;
}

.main-left,
.main-right {
    
} 

.main-left {
    padding: 20px;
    background: #11f063;
    overflow-y: auto;
}

.card-container {
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
}

.card {
    height: 200px;
    background: #ff3766;
    border: 3px solid rgb(21, 25, 52)
}

.ann-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.card-ann {
    height: 200px;
    background: #2a0443;
}

.main-right {
    padding: 20px;
    background: #ffc812;
}